<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>TestServlet</display-name>
        <welcome-file-list>
          <welcome-file>index.jsp</welcome-file>
        </welcome-file-list>
        <servlet>
          <description></description>
          <display-name>fbLogin</display-name>
          <servlet-name>fbLogin</servlet-name>
          <servlet-class>org.uac.fbLogin</servlet-class>
        </servlet>
        <servlet-mapping>
          <servlet-name>fbLogin</servlet-name>
          <url-pattern>/facebookwelcome.jsp</url-pattern>
        </servlet-mapping>
 
</web-app>
